body, html {
  margin: 0;
  padding: 0;
}

.App {
  display:flex;
  width: 100%;
  height: 100vh;
}

.Authoring {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.Display {
  flex-basis: 50%;
  background-color: bisque;
}

.Style {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.Content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.Editor {
  resize: none;
  flex-grow: 1;
}